<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Firefly Quotes</title>
</head>
<body>
  <h1>Shiny List of Firefly Quotes</h1>
  <ul class="quotes">
    <% for(var i=0; i<quotes.length; i++) {%>
      <li class="quote">
        <span><%= quotes[i].name %>: </span>
        <span><%= quotes[i].quote %></span>
      </li>
    <% } %>
  </ul>
  <form action="/quotes" method="POST">
     <input type="text" placeholder="name" name="name">
     <input type="text" placeholder="quote" name="quote">
     <button type="submit">Submit</button>
  </form>

  <div>
    <h2>Replace last quote written by Jayne with a quote written by Mal telling him to shut up</h2>
    <button id="update">Jayne, your mouth is talking</button>
  </div>

  <div>
  <h2>Delete Wash's first quote</h2>
    <button id="delete"> Delete first Wash quote </button>
  </div>

  <script src="main.js"></script>
</body>
</html>
